[submodule "AbstractMIDIinterface"]
	path = AbstractMIDIinterface
	url = https://github.com/lathoub/AbstractMIDIinterface
[submodule "src/dd"]
	path = src/dd
	url = https://github.com/lathoub/AbstractMIDIinterface
[submodule "src/interface"]
	path = src/interface
	url = https://github.com/lathoub/AbstractMIDIinterface
